Flask==0.11.1
Jinja2==2.8
Mako==0.9.1
MarkupSafe==0.23
MySQL-python==1.2.3
Pillow==2.3.0
PyJWT==1.6.4
Werkzeug==0.11.10
argparse==1.2.1
click==6.6
gunicorn==17.5
html5lib==0.999
httplib2==0.8
lockfile==0.8
lxml==3.3.3
mysql-connector-python
mysql-utilities
numpy==1.8.2
oauthlib==0.6.1
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygame==1.9.1release
pygobject==3.12.0
pyserial==2.6
pysmbc==1.0.14.1
pysqlite==1.0.1
python-libtorrent==0.16.13
pyxdg==0.25
reportlab==3.0
requests==2.2.1
urlgrabber==3.9.1
urllib3==1.7.1
virtualenv==15.0.3
wheel
wsgiref
