Flask==0.11.1
Jinja2==2.8
Mako==0.9.1
MarkupSafe==0.23
MySQL-python==1.2.3
Pillow==2.3.0
PyJWT==1.6.4
Werkzeug==0.11.10
argparse==1.2.1
click==6.6
gunicorn==17.5
html5lib==0.999
httplib2==0.8
lockfile==0.8
lxml==3.3.3
mysql-connector-python
numpy==1.8.2
pycrypto==2.6.1
pycurl==7.19.3
pygobject
requests
urllib3
